* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    background-color: #FAF5EF;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Amatic SC', cursive;
    text-align: center;

}

.subtitle {
    text-align: center;
}

#filterForm {
    text-align: center;
}

.listItem {
    border: 2px solid #672F2F;
    border-radius: 8px;
    background-color:rgb(202, 143, 143);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.title {
    display: inline-block;
    font-size: 20px;
}

.rating {
    display: inline-block;

}

.expand {
    display: inline-block;
}

.description {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.url {
    margin-top: 10px;
}

#filterForm {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    border: 2px solid #672F2F;
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #D7D1C9;

}

#addNewForm {
    margin-top: 10px;
    
}

input {
    margin-top: 3px;
    margin-bottom: 3px;
}

#newRating {
    margin-top: 3px;
    margin-bottom: 3px;
}


#newDesc {
    display: block;
    width: 100%;
    height: 50px;
}

.itemHeader {
    display: flex;
    justify-content: space-between;
}

button {
    width: 80px;
    height: 25px;
    border: 1px solid #672F2F;
    border-radius: 5px;
    color: #672F2F;
    background-color: rgb(238, 189, 142);
}

.fa-star {
    color: gold;
}

.titleimg {
    width: 60px;
    display: inline-block;
}

select, input, textarea {
    background-color: whitesmoke;
}
